@import "tailwindcss";

:root {
  --primary: #fba919;
  --background: #ffffff;
  --bg2: #eceaea;
  --foreground: #171717;
}

@theme inline {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-bg2: var(--bg2);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --bg2: #2b2b2b;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition-property: opacity, transform, filter, background;
  transition-timing-function: ease-in-out;
  transition-duration: 400ms;
}

.page-transition {
  opacity: 0;
  background: black;
  transform: translateY(40px);
  filter: blur(12px);
}

a:hover {
  text-decoration: underline;
}
